<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".OnboardingEvidenceActivity"
            android:exported="true" />
        <activity
            android:name=".AssignedWorkEvidenceActivity"
            android:exported="true" />
    </application>
</manifest>
